/* style.css */

/* Base styles */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fbdede;
}

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
}

.search {
    width: 300px;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #effdff;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Loading styles */
.loading {
    font-size: 1.5em;
    color: #007bff;
}

/* User info styles */
.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(240, 234, 234);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.user-info h1,
.user-info h2,
.user-info h3 {
    margin: 5px 0;
}

.user-info h1 {
    font-size: 1.5em;
    color: #333;
}

.user-info h2 {
    font-size: 1.2em;
    color: #555;
}

.user-info h3 {
    font-size: 1em;
    color: #777;
}